*{
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

body{
  width: 80%;
  height: 800px;
  margin: auto;
  background-color: #C8C8C8;
}

.banner{
  background-color: #043A47;
  margin: auto;
  width: 90%;
  height: 90px;
  margin-top: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 40px;
}

.banner h2{
  font-weight: bold;
  font-size: 40px;
}

.banner h4{
  font-weight: bold;
  margin-top: 10px;
}
